@media (min-width:320px) and (max-width:575px) {

    /***********************navbar css**********************/
    nav .navbar-brand {
        width: 50%;
    }

    nav .navbar-brand img {
        width: 100%;
    }

    nav button i {
        color: #2E3360;
        width: 45px;
        height: 40px;
        border-radius: 6px;
        border: 1px solid #2E3360;
        line-height: 38px !important;
    }

    nav button:focus {
        outline: 0;
    }

    .navbar-collapse {
        background: #f1f1f1;
        text-align: center;
        padding-bottom: 20px;
        margin-top: 20px;
    }

    nav ul li {
        margin-left: 0;
    }

    nav ul li a {
        text-align: center;
    }

    nav ul li ul{
        top: 45%;
        left: 40%;
    }

    /***********************banner css***********************/
    #banner-part{
        background-size: 65% 60%;
        margin-bottom: -80px;
    }
    #banner-part .text p {
        width: 150px;
    }

    #banner-part .text h1 {
        font-size: 40px;
    }

    #banner-part .text {
        padding-top: 70px;
        padding-bottom: 0;
    }

    .background {
        margin-left: -145px;
        margin-top: -80px;
        height: 350px;
        transform: scale(.5);
    }

    /***********************about css***********************/
    #about-part{
        padding-top: 0;
    }
    #about-part .title h1 {
        font-size: 45px;
        margin-top: 0;
    }

    #about-part .title p {
        width: auto;
        font-size: 18px;
    }

    #about-part img {
        width: 100%;
        margin-top: 30px;
    }

    #about-part .one {
        font-size: 18px;
    }

    #about-part .two {
        font-size: 18px;
    }

    #about-part .three {
        font-size: 18px;
    }

    #about-part .four {
        font-size: 18px;
    }

    #about-part .five {
        font-size: 18px;
    }

    /***********************about css***********************/
    #about-two .title {
        margin-left: 20px;
    }

    #about-two a {
        margin-left: 20px;
    }

    #about-two .img1{
        width: 40%;
    }
    #about-two .img1 img{
        margin-left: 0;
    }
    #about-two .img2{
        width: 40%;
    }
    #about-two .img2 img{
        margin-left: 0;
    }
    #about-two .img3{
        width: 110%;
    }
    #about-two .img3 img{
       width: 100%;
       margin-left: 0;
       margin-top: 25px;
    }
    #about-two .img4{
        width: 110%;
    }
    #about-two .img4 .babu{
        margin-left: 0;
        width: 47.1%;
    }
    #about-two .prb{
        width: 47.1%;
        margin-left: 0;
    }

    #about-two{
        position: relative;
    }
    #about-two .pranty1{
        width: 55%;
        position: absolute;
        top: 75px;
        left: 42%;
    }

    /* #about-two .img1 img {
        width: 95%;
        margin-left: 8px;
    }

    #about-two .img2 img {
        width: 95%;
        margin-left: 8px;
    }

    #about-two .img3 img {
        width: 95%;
        margin-left: 8px;
        margin-top: 25px;
    }

    #about-two .img4 img {
        width: 45%;
        margin-left: 8px;
    }
    
    #about-two .img4 .babu{
        width: 45.1%;
        margin-left: 10px;
    } */

    #about-two .title p {
        width: auto;
        font-size: 18px;
    }

    /***********************suggest css***********************/
    #suggest-part .title h1 {
        font-size: 26px;
        margin-left: 14px;
        margin-top: 30px;
    }

    /***********************Solve css***********************/
    #solve-part .part1 .moni {
        margin-top: 20px;
    }

    #solve-part .part1 .moni .text p{
        width: auto;
    }

    #solve-part .part1 .report {
        margin-top: 20px;
    }

    #solve-part .part1 .home {
        margin-top: 20px;
    }

    #solve-part .part2 .tips {
        margin-top: -10px;
    }

    #solve-part .part2 .library {
        margin-top: 20px;
    }

    #solve-part .part2 .family {
        margin-top: 20px;
    }

    /***********************Impact css***********************/
    #impact-part {
        padding-bottom: 80px;
    }

    #impact-part .title h1 {
        margin-top: 80px;
        font-size: 40px;
    }

    #impact-part .timeline {
        margin-top: 70px;
    }

    #impact-part .timeline .one {
        width: auto;
        color: #fff;
        background: #FF8748;
        border: 1px solid #FF8748;
    }

    #impact-part .timeline .two {
        width: auto;
        color: #fff;
        background:#35B1BA;
        border: 1px solid #35B1BA;
    }

    #impact-part .timeline .three {
        width: auto;
        color: #fff;
        background:  #FF0D41;
        border: 1px solid #FF0D41;
    }

    #impact-part .timeline .four {
        width: auto;
        color: #fff;
        background: #585B8F;
    }

    #impact-part .timeline .one i {
        display: none;
    }

    #impact-part .timeline .two i {
        display: none;
    }

    #impact-part .timeline .three i {
        display: none;
    }

    #impact-part .timeline .four i {
        display: none;
    }

    #impact-part .img1 h3::after {
        display: none;
    }

    #impact-part .img2 h3::after {
        display: none;
    }

    #impact-part .img3 h3::after {
        display: none;
    }

    #impact-part .img4 h3::after {
        display: none;
    }

    #impact-part .images {
        margin-top: 60px;
    }

    #impact-part .img1 {
        margin-left: 30px;
    }

    #impact-part .img1 h3 {
        font-size: 23px;
        top: 13px;
        left: 32%;
    }

    #impact-part .img2 h3 {
        font-size: 21px;
        top: 13px;
        left: 30%;
    }

    #impact-part .img3 h3 {
        font-size: 20px;
        top: 11px;
        left: 26%;
    }

    #impact-part .img4 h3 {
        font-size: 20px;
        top: 15px;
        left: 19%;
    }

    /***********************picture css***********************/
    #picture-part .title h1{
        font-size: 30px;
        width: auto;
    }
    #picture-part .img img{
        width: 90%;
    }

    /***********************Gallery css***********************/
    #gallery-part .title h1 {
        margin-top: 0;
        font-size: 30px;
    }

    #gallery-part {
        margin-bottom: -30px;
    }
    #gallery-part .gallery1{
        margin-top: 30px;
    }
    #gallery-part .gallery1 .pasapasi{
        width: 50%;
        display: flex;
    }
    #gallery-part .img1 img{
        width: 90%;
        margin-left: 0;
        transition: .4s;
    }
    #gallery-part .img2 img{
        width: 120%;
        height: 100%;
        transition: .4s;
        margin-left: -30px;
    }
    
    #gallery-part .gallery2 .pasapasi1{
        width: 30%;
        display: flex;
    }
    #gallery-part .gallery2{
        margin-top: 13px;
    }
    #gallery-part .img3 img{
        width: 100%;
        margin-left: 0;
        transition: .4s;
    }
    #gallery-part .img4 img{
        width: 200%;
        height: 97%;
        margin-left: -18px;
        transition: .4s;
    }
    #gallery-part .img5 img{
        margin-left: 30px;
        width: 100%;
        transition: .4s;
    }

    /***********************Plan css***********************/
    #plan-part .basic .btn a{
        padding: 15px 30px;
    }

    #plan-part .premium .btn a {
        padding: 15px 30px;
    }

    #slider-part .slide .img img{
        margin-left: 0;
    }

    #slider-part .slide .img .cls{
        margin-left: 0;
    }

    /***********************slider css***********************/
    #slider-part .prev {
        left: 35%;
    }

    #slider-part .next {
        right: 38%;
    }

    #slider-part .title h1 {
        font-size: 38px;
    }

    /***********************Include css***********************/
    #include-part h1 {
        font-size: 30px;
        width: auto;
        padding: 10px;
    }

    /***********************footer css***********************/
    #footer-part {
        margin: 0;
    }

    #footer-part .img {
        width: 250px;
        margin: 0 auto;
    }

    #footer-part p {
        margin-top: 0;
    }

    #footer-part .email {
        margin-top: 40px;
    }

    #footer-part .phone {
        margin-top: 40px;
    }

    #footer-part .follow {
        margin-top: 40px;
    }
}




@media (min-width:576px) and (max-width:767px) {

    /***********************navbar css**********************/
    nav .navbar-brand {
        width: 50%;
    }

    nav .navbar-brand img {
        width: 100%;
    }

    nav button i {
        color: #2E3360;
        width: 45px;
        height: 40px;
        border-radius: 6px;
        border: 1px solid #2E3360;
        line-height: 40px !important;
    }

    nav button:focus {
        outline: 0;
    }

    .navbar-collapse {
        background: #f1f1f1;
        text-align: center;
        padding-bottom: 20px;
        margin-top: 20px;
    }

    nav ul li {
        margin-left: 0;
    }

    nav ul li a {
        text-align: center;
    }

    nav ul li ul{
        top: 45%;
        left: 45%;
    }

    /***********************banner css***********************/
    #banner-part {
        background-size: 85% 85%;
        margin-bottom: -80px;
    }
    #banner-part .text p {
        width: auto;
    }

    #banner-part .text h1 {
        font-size: 60px;
    }

    #banner-part .text {
        padding-top: 70px;
        padding-bottom: 0;
    }

    .background {
        margin-left: -35%;
        transform: scale(.6);
    }

    /***********************about css***********************/
    .row {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    #about-part{
        padding-top: 0;
    }

    #about-part .title {
        width: 290px;
    }

    #about-part .title h1 {
        font-size: 45px;
        margin-top: 20px;
    }

    #about-part .title p {
        width: auto;
        font-size: 18px;
    }

    #about-part img {
        width: 100%;
        margin-top: 10px;
    }

    #about-part .one {
        font-size: 18px;
    }

    #about-part .two {
        font-size: 18px;
    }

    #about-part .three {
        font-size: 18px;
    }

    #about-part .four {
        font-size: 18px;
    }

    #about-part .five {
        font-size: 18px;
    }

    /***********************about css***********************/
    #about-two .title {
        margin-left: 20px;
    }

    #about-two a {
        margin-left: 20px;
    }

    #about-two .img1 img{
        margin-left: 0;
        width: 95%;
    }
    #about-two .img2 img{
        margin-left: 0;
    }
    #about-two .img2 {
        height: 70%;
    }
    #about-two .img2 img{
        width: 95%;
        height: 80%;
        margin-left: 0;
    }
    #about-two .img3 {
        height: 50%;
        margin-left: -15px;
    }
    #about-two .img3 img{
        width: 100%;
        margin-left: 0;
    }
    #about-two .img4{
        margin-left: -15px;
    }
    #about-two .img4 .babu{
        margin-left: 0;
        width: 49.1%;
    }
    #about-two .prb{
        width: 48.1%;
        margin-left: 0;
    }

    /* #about-two .img1 img {
        width: 95%;
        margin-left: 8px;
        margin-top: 25px;
    }

    #about-two .img2 img {
        width: 95%;
        margin-left: 8px;
        height: 63%;
    }
    #about-two .img2 {
        height: 80%;
    }

    #about-two .img3 img {
        width: 95%;
        margin-left: 8px;
        margin-top: 25px;
    }

    #about-two .img4 img {
        width: 45%;
        margin-left: 8px;
    }
    
    #about-two .img4 .babu{
        width: 45.1%;
        margin-left: 15px;
    } */

    #about-two .title p {
        width: auto;
        font-size: 18px;
    }

    /***********************suggest css***********************/
    #suggest-part .title h1 {
        font-size: 26px;
        margin-left: 14px;
        margin-top: 40px;
    }

    /***********************Solve css***********************/
    #solve-part .part1 .moni {
        margin-top: 20px;
    }

    #solve-part .part1 .report {
        margin-top: 20px;
    }

    #solve-part .part1 .home {
        margin-top: 20px;
    }

    #solve-part .part2 .tips {
        margin-top: -10px;
    }

    #solve-part .part2 .library {
        margin-top: 20px;
    }

    #solve-part .part2 .family {
        margin-top: 20px;
    }

    /***********************Impact css***********************/
    #impact-part {
        padding-bottom: 80px;
    }

    #impact-part .title h1 {
        margin-top: 80px;
        font-size: 40px;
    }

    #impact-part .timeline {
        margin-top: 70px;
    }

    #impact-part .timeline .one {
        width: auto;
        color: #fff;
        background: #FF8748;
        border: 1px solid #FF8748;
    }

    #impact-part .timeline .two {
        width: auto;
        color: #fff;
        background: #35B1BA;
        border: 1px solid #35B1BA;
    }

    #impact-part .timeline .three {
        width: auto;
        color: #fff;
        background: #FF0D41;
        border: 1px solid #FF0D41;
    }

    #impact-part .timeline .four {
        width: auto;
        color: #fff;
        background: #585B8F;
        border: 1px solid #585B8F;
    }

    #impact-part .timeline .one i {
        display: none;
    }

    #impact-part .timeline .two i {
        display: none;
    }

    #impact-part .timeline .three i {
        display: none;
    }

    #impact-part .timeline .four i {
        display: none;
    }

    #impact-part .img1 h3::after {
        display: none;
    }

    #impact-part .images {
        margin-top: 60px;
    }

    #impact-part .img1 {
        margin-left: 30px;
    }

    #impact-part .img1 h3 {
        font-size: 26px;
        top: 13px;
        left: 32%;
    }

    #impact-part .img2 h3 {
        font-size: 23px;
        top: 13px;
        left: 30%;
    }

    #impact-part .img3 h3 {
        font-size: 22px;
        top: 11px;
        left: 26%;
    }

    #impact-part .img4 h3 {
        font-size: 20px;
        top: 15px;
        left: 19%;
    }

    #impact-part .img2 h3::after {
        display: none;
    }

    #impact-part .img3 h3::after {
        display: none;
    }

    #impact-part .img4 h3::after {
        display: none;
    }

     /***********************picture css***********************/
     #picture-part .title h1{
        font-size: 30px;
        width: auto;
    }
    #picture-part .img img{
        width: 90%;
    }

    /***********************Gallery css***********************/
    #gallery-part .title h1 {
        margin-top: 0;
        font-size: 30px;
    }

    #gallery-part .gallery1 {
        margin-top: 50px;
    }

    #gallery-part .gallery2 {
        margin-top: 25px;
    }

    #gallery-part .img1 img {
        width: 95%;
        margin-left: 8px;
    }

    #gallery-part .img2 img {
        width: 103%;
        margin-left: -10px;
    }

    #gallery-part .img3 img {
        width: 112%;
        margin-left: 8px;
    }

    #gallery-part .img4 img {
        width: 95%;
        margin-left: 8px;
    }

    #gallery-part .img5 img {
        width: 112%;
        margin-left: -14px;
    }

    /***********************Plan css***********************/
    #plan-part .basic ul li {
        font-size: 14px;
    }

    #plan-part .premium ul li {
        font-size: 14px;
    }
    
    #slider-part .slide .img img{
        margin-left: 25px;
    }

    #slider-part .slide .img .cls{
        margin-left: -25px;
    }

    /***********************slider css***********************/

    #slider-part .prev {
        left: 42%;
    }

    #slider-part .next {
        right: 42%;
    }

    #slider-part .title h1 {
        font-size: 38px;
    }

    #slider-part .slider img {
        width: 120%;
    }

    /***********************Include css***********************/
    #include-part h1 {
        font-size: 30px;
        width: auto;
        padding: 10px;
    }

    #footer-part {
        margin: 0;
    }

    #footer-part .img {
        width: 250px;
        margin: 0 auto;
    }

    #footer-part p {
        margin-top: 0;
    }

    #footer-part .email {
        margin-top: 40px;
    }

    #footer-part .phone {
        margin-top: 40px;
    }

    #footer-part .follow {
        margin-top: 40px;
    }
}

@media (min-width:768px) and (max-width:991px) {

    /***********************navbar css**********************/
    nav .navbar-brand {
        width: 30%;
    }

    nav .navbar-brand img {
        width: 100%;
    }

    nav button i {
        color: #2E3360;
        width: 45px;
        height: 40px;
        border-radius: 6px;
        border: 1px solid #2E3360;
        line-height: 38px !important;
    }

    nav button:focus {
        outline: 0;
    }

    .navbar-collapse {
        background: #f1f1f1;
        text-align: center;
        padding-bottom: 20px;
        margin-top: 20px;
    }

    nav ul li {
        margin-left: 0;
    }

    nav ul li a {
        text-align: center;
    }

    nav ul li ul{
        left: 47%;
        top: 45%;
    }

    /***********************banner css***********************/
    #banner-part .text p {
        width: auto;
    }

    #banner-part .text h1 {
        font-size: 60px;
    }

    #banner-part .text {
        padding-top: 70px;
        padding-bottom: 0;
    }

    .background {
        margin-left: -70px;
    }

    /***********************about css***********************/
    #about-part .title h1 {
        font-size: 45px;
    }

    #about-part .title p {
        width: auto;
        font-size: 18px;
    }

    #about-part img {
        width: 100%;
        margin-top: 60px;
    }

    #about-part .one {
        font-size: 18px;
    }

    #about-part .two {
        font-size: 18px;
    }

    #about-part .three {
        font-size: 18px;
    }

    #about-part .four {
        font-size: 18px;
    }

    #about-part .five {
        font-size: 18px;
    }

    /***********************about css***********************/
    #about-two .title {
        margin-left: 20px;
    }

    #about-two a {
        margin-left: 20px;
    }

    #about-two .img1 img {
        width: 95%;
        margin-left: 18px;
        margin-top: 25px;
    }

    #about-two .img2 img {
        width: 95%;
        margin-left: 18px;
    }

    #about-two .img3 img {
        width: 95%;
        margin-left: 18px;
        margin-top: 25px;
    }

    #about-two .img4 img {
        width: 45%;
        margin-left: 24px;
    }
    
    #about-two .img4 .babu{
        width: 45.1%;
        margin-left: 22px;
    }

    #about-two .title p {
        width: auto;
        font-size: 18px;
    }

    /***********************suggest css***********************/
    #suggest-part .title h1 {
        font-size: 26px;
        margin-left: 14px;
        margin-top: 50px;
    }

    /***********************Solve css***********************/
    #solve-part .part1 .moni {
        margin-top: 20px;
    }

    #solve-part .part1 .report {
        margin-top: 20px;
    }

    #solve-part .part1 .home {
        margin-top: 20px;
    }

    #solve-part .part2 .tips {
        margin-top: -10px;
    }

    #solve-part .part2 .library {
        margin-top: 20px;
    }

    #solve-part .part2 .family {
        margin-top: 20px;
    }

    /***********************Impact css***********************/
    #impact-part .img1 {
        width: 79%;
        margin-left: 120px;
        padding-top: 100px;
    }
    #impact-part .img1 h3::after {
        width: 125px;
        transform: rotate(43deg);
        margin-top: -50px;
    }
    #impact-part .img2 h3::after {
        width: 111px;
        transform: rotate(30deg);
        margin-top: 0;
    }
    #impact-part .img3 h3::after {
        width: 122px;
        transform: rotate(-8deg);
        margin-top: 10px;
    }
    #impact-part .img4 h3::after {
        width: 163px;
        transform: rotate(-30deg);
        margin-top: 30px;
        margin-right: -20px;
    }
    
    #impact-part .img1 h3{
        font-size: 25px;
        margin-top: 100px;
    }
    
    #impact-part .img2 h3 {
        font-size: 25px;
        margin-top: -10px;
    }
    
    #impact-part .img3 h3 {
        font-size: 25px;
        margin-top: -20px;
    }
    
    #impact-part .img4 h3{
        font-size: 25px;
        margin-top: -15px;
    }


    #impact-part .spimg1 h3::after{
        margin-top: -50px;
        width: 130px !important;
        margin-right: -50px; 
    }

    #impact-part .spimg2 h3::after {
        width: 147px !important;
        transform: rotate(30deg);
        margin-top: -2px;
    }

    #impact-part .spimg3 h3{
        margin-top: 0px;
    }
    #impact-part .spimg3 h3::after {
        width: 136px !important;
        transform: rotate(0deg);
    }
    #impact-part .spimg4 h3::after {
        width: 153px !important;
        transform: rotate(-25deg);
    }

     /***********************picture css***********************/
     #picture-part .title h1{
        font-size: 30px;
        width: auto;
    }
    #picture-part .img img{
        width: 90%;
    }

    /***********************Gallery css***********************/
    #gallery-part .title h1 {
        font-size: 30px;
    }

    #gallery-part .gallery1 {
        margin-top: 50px;
    }

    #gallery-part .img1 img {
        width: 95%;
        margin-left: 5px;
    }

    #gallery-part .img2 img {
        width: 105%;
        margin-left: -15px;
    }

    #gallery-part .img3 img {
        width: 107%;
        margin-left: 5px;
    }

    #gallery-part .img4 img {
        width: 96%;
        margin-left: 10px;
    }

    #gallery-part .img5 img {
        width: 108%;
        margin-left: -8px;
    }

    /***********************Plan css***********************/
    #plan-part .basic ul li {
        font-size: 14px;
    }

    #plan-part .basic p::after {
        left: 60px;
    }

    #plan-part .premium p::after {
        left: 60px;
    }

    #plan-part .premium ul li {
        font-size: 14px;
    }

    #slider-part .slide .img img{
        margin-left: 35px;
    }

    #slider-part .slide .img .cls{
        margin-left: -35px;
    }

    /***********************slider css***********************/
    #slider-part .prev {
        left: 45%;
    }

    #slider-part .next {
        right: 44%;
    }

    #slider-part .title h1 {
        font-size: 38px;
    }

    /***********************Include css***********************/
    #include-part h1 {
        font-size: 30px;
        width: auto;
        padding: 10px;
    }

    /***********************footer css***********************/
    #footer-part {
        margin: 0;
    }

    #footer-part .img {
        width: 250px;
        margin: 0 auto;
    }

    #footer-part p {
        margin-top: 0;
    }

    #footer-part .email {
        margin-top: 40px;
    }

    #footer-part .phone {
        margin-top: 40px;
    }

    #footer-part .follow {
        margin-top: 40px;
    }
}




@media (min-width:992px) and (max-width:1199px) {
    
    /***********************nav css***********************/
    nav ul li {
        margin-left: 8px;
    }
    
    .navbar-brand{
        width: 20%;
    }
    
    nav .navbar-brand img{
        width: 90%;
    }

    nav .btn a {
        padding: 10px 29px;
    }
    
    nav .spbtn a {
        padding: 10px 15px;
    }

    nav ul li ul{
        left: 0;
    }
    
    /***********************about css***********************/
    #about-part img {
        width: 100%;
        margin-top: 230px;
    }
    
    #about-part .title p {
        width: auto;
        font-size: 18px;
    }
    
    #about-two .title{
        margin-top: 0;
        margin-left: 60px;
    }
    
    #about-two .title p{
        width: auto;
        font-size: 18px;
    }
    
    #about-two a{
        margin-left: 60px;
    }
    
    #about-two .img1 img{
        margin-left: 30px;
    }
    
    #about-two .img2 img{
        margin-left: 30px;
    }
    
    #about-two .img3 img{
        margin-left: 030px;
    }
    
    #about-two .img4 .babu{
        width: 41.1%;
        margin-left: 30px;
    }
    
    #about-two .prb{
        width: 41.1%;
    }
    
    /***********************suggest css***********************/
    #suggest-part .title h1{
        width: auto;
    }
    
    /***********************solve css***********************/
    #solve-part .part2 .family .img {
        margin-top: 0px;
    }

    #solve-part .part1 .moni{
        padding: 30px 10px 51px;
    }
    
    #solve-part .part1 .spmoni{
        padding: 30px 10px 50px !important;
    }
    
    #solve-part .part1 .spreport {
        padding: 30px 10px 0 !important;
    }
    
    #solve-part .part1 .report{
        padding: 43px 10px 7px;
    }
    
    #solve-part .part1 .home{
        padding: 42px 10px;
    }

    #solve-part .part1 .sphome{
        padding: 30px 10px 55px !important;
    }
    
    #solve-part .part2 .family{
        padding: 19px 10px 75px;
    }

    #solve-part .part2 .spfamily{
        padding: 19px 10px 12px !important;
    }
    
    /***********************impact css***********************/
    #impact-part .img1{
        width: 100%;
        margin-left: 30px;
    }
    #impact-part .img1 h3::after{
        width: 225px;
    }
    #impact-part .img2 h3::after{
        width: 237px;
        margin-top: 15px;
    }
    #impact-part .img3 h3::after{
        width: 268px;
    }
    #impact-part .img4 h3::after{
        width: 288px;
        margin-top: 32px;
    }
    
    #impact-part .img1 h3{
        font-size: 30px;
    }
    
    #impact-part .img2 h3{
        font-size: 30px;
    }
    
    #impact-part .img3 h3{
        font-size: 30px;
    }
    
    #impact-part .img4 h3{
        font-size: 30px;
    }

    #impact-part .spimg1 h3::after {
        width: 173px !important;
    }

    #impact-part .spimg2 h3::after {
        width: 221px !important;
        margin-top: 3px;
    }

    #impact-part .spimg3 h3::after {
        width: 239px !important;
    }

    #impact-part .spimg4 h3::after {
        width: 250px !important;
    }
    
     /***********************picture css***********************/
    #picture-part .title h1{
        font-size: 30px !important;
        width: auto;
    }
    #picture-part .img img{
        width: 90%;
    }
    
    /***********************plan css***********************/
    #plan-part .basic .btn a{
        padding: 15px 30px;
    }
    
    #plan-part .premium .btn a{
        padding: 15px 30px;
    }

    #slider-part .slide .img img{
        margin-left: 35px;
    }

    #slider-part .slide .img .cls{
        margin-left: -35px;
    }
    
    /***********************footer css***********************/
    #footer-part{
        margin: 0 30px;
    }
    
    #footer-part .img img{
        width: 51%;
        margin-left: 10px;
    }
}
